
.active {
    position: relative;
    font-size: large;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: red; 
}